@charset "UTF-8";
/* -------------------
  PAGE TOP
--------------------*/
.page-top {
	position: fixed;
	bottom: 38px;
	right: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	cursor: pointer;
	opacity: 0;
	background-color: $color-white;
	transition: all 0.3s;
	z-index: -1;
	color: $color-blue-light;
	@include border-radius(50%);
	box-shadow: 0px 10px 20px rgba(22, 79, 160, 0.2);
	@include mq() {
		width: 60px;
		height: 60px;
		bottom: 10px;
		right: 20px;
	}
	&.active {
		opacity: 1;
    	z-index: 999;
		&:hover {
			opacity: .8;
		}
	}
	span {
		width: 100px;
		height: 100px;
		display: block;
		@include border-radius(50%);
		padding: 37px 10px 10px;
		font-size: fs(16);
		line-height: fs(20);
		text-align: center;
		background: url(../images/common/icon/icon-arrow-ptop.svg) no-repeat center 20px;
		white-space: nowrap;
		overflow: hidden;
		@include mq() {
			width: 60px;
			height: 60px;
			font-size: fs(12);
			line-height: fs(14);
			padding-top: 20px;
			background-size: 10px auto;
			background-position: center 10px;
		}
	}
}
