@charset "UTF-8";
// ===========================
// TABLE
// ===========================

.table {
  @include mq(sm2) {
    overflow-x: auto;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th {
    height: 93px;
    vertical-align: middle;
    background-color: $color-blue-sky;
    border: 3px solid $color-white;
    border-left-width: 0;
    border-right-width: 0;
    padding: 20px 15px;
    width: 200px;
    font-weight: normal;
    font-size: fs(16);
    line-height: fs(24);
    @include mq() {
      height: 60px;
      width: 150px;
      padding: 10px 5px;
      font-size: fs(16);
    }
    .table-title {
      @include flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 0;
      .img {
        width: 43px;
        margin-right: 10px;
      }
    }
  }

  td {
    vertical-align: middle;
    border: 3px solid $color-white;
    border-left-width: 0;
    border-right-width: 0;
    padding: 20px 15px 20px 0;
    background-color: $color-blue-sky;
    font-weight: normal;
    font-size: fs(16);
    line-height: fs(24);
    @include mq() {
      font-size: fs(14);
      padding: 10px 5px;
    }
    .underline {
      text-decoration: underline;
    }
	}

  &.type2 {
    table {
      @include mq(sm2) {
        width: 220vw;
      }
    }
  }
}