@charset "UTF-8";
// ===========================
// Text: Title, Tag, 
// Label, Link, Button, ..
// ===========================

// Setting for WP's Text Editor
.no-reset {
  h2 {
  	position: relative;
    font-size: fs(24);
    line-height: 1.8;
    font-weight: bold;
    @include mq(sm) {
      font-size: fs(22);
    }
  }
  h3 {
  	position: relative;
    font-size: fs(22);
    line-height: 1.8;
    font-weight: bold;
    @include mq(sm) {
      font-size: fs(16);
      line-height: fs(27);
    }
  }
  h4 {
  	position: relative;
    font-size: fs(20);
    line-height: 1.8;
    font-weight: bold;
    @include mq(sm) {
      font-size: fs(16);
      line-height: fs(24);
    }
  }
  h5 {
  	position: relative;
    font-size: fs(18);
    line-height: 1.8;
    font-weight: bold;
    @include mq(sm) {
      font-size: fs(12);
    }
  }
  p {
  	position: relative;
    font-size: fs(16);
    line-height: 1.8;
    @include mq() {
      font-size: fs(14);
    }
  }
  a {
    color: #164FA0;
    transition: all .3s;
    font-size: fs(16);
    line-height: 1.8;
    @include mq() {
      font-size: fs(14);
    }
    &:hover {
      opacity: .7;
    }
  }
  img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .aligncenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
   
  img.alignright {
      padding: 4px;
      margin: 0 0 2px 7px;
      display: inline;
  }
   
  img.alignleft {
      padding: 4px;
      margin: 0 7px 2px 0;
      display: inline;
  }
   
  .alignright {
      float: right;
  }
   
  .alignleft {
      float: left;
  }

}

/* -------------------
  Title by level
--------------------*/
.title-lv2 {
  position: relative;
  font-size: fs(18);
  line-height: fs(30);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv3 {
	position: relative;
  font-size: fs(18);
  line-height: fs(30);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv4 {
	position: relative;
  font-size: fs(16);
  line-height: fs(27);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(16);
    line-height: fs(24);
  }
}

.title-lv5 {
	position: relative;
  font-size: fs(14);
  line-height: fs(21);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

/* -------------------
  Description
--------------------*/
.desc {
  display: inline-block;
	font-size: fs(18);
  font-weight: normal;
  font-family: $font-base;
  color: $color-base;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}


/* -------------------
  Section Title
--------------------*/
.section-title {
  margin-bottom: 13px;
	> p {
    &.en {
      margin-bottom: 7px;
      font-weight: bold;
      font-size: fs(16);
      color: $color-blue;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 8px;
      @include mq() {
        font-size: fs(14);
        line-height: 1.4;
        margin-bottom: 13px;
        padding-bottom: 6px;
      }
      &:after {
        content: '';
        width: 46px;
        height: 2px;
        background-color: $color-blue;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      + h2 {
        &:after {
          content: none;
        }
      }
    }
  }
  &.idx {
    text-align: center;
    > p {
      &:after {
        @include transform_center(left);
      }
    }
    h2 {
      position: relative;
      font-size: fs(45);
      line-height: 1.1;
      @include mq('tb2') {
        font-size: fs(32);
        line-height: 1.4;
      }
      @include mq() {
        font-size: fs(20);
        line-height: 1.4;
      }
      &:after {
        content: '';
        width: 46px;
        height: 2px;
        background-color: $color-blue;
        position: absolute;
        bottom: -6px;
        @include transform_center(left);
      }
    }
    br {
      @include mq('tb2') {
        display: block !important;
      }
    }
  }
  h2 {
    font-weight: bold;
    font-size: fs(32);
    line-height: fs(60);
    color: $color-base;
    @include mq() {
      font-size: fs(20);
      line-height: 1.4;
    }
  }
  @include mq() {
	  font-size: fs(30);
	  line-height: fs(45);
  }
}

.section-title-02 {
  margin-bottom: 30px;
  @include mq() {
    margin-bottom: 20px;
  }
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: fs(30);
    line-height: fs(40);
    position: relative;
    padding-bottom: 24px;
    color: $color-blue;
    @include mq() {
      font-size: fs(20);
      line-height: fs(32);
      padding-bottom: 5px;
    }
    @include mq('sm3') {
      font-size: fs(18);
    }
    &:after {
      content: '';
      width: 78px;
      height: 2px;
      background-color: $color-blue;
      position: absolute;
      bottom: 0;
      @include transform_center(left);
    }
  }
}

.section-title-line {
  position: relative;
  font-weight: bold;
  font-size: fs(30);
  line-height: 1;
  color: $color-blue;
  margin-bottom: 25px;
  @include mq() {
    font-size: fs(20);
  }
  &.base {
    color: $color-base;
    line-height: fs(60);
    &:after {
      width: 46px;
      height: 2px;
      bottom: 0;
      left: 0;
      right: inherit;
      top: inherit;
      @include transform(translate(0, 0));
      background-color: $color-blue;
    }
  }
  span {
    position: relative;
    display: inline-block;
    z-index: 2;
    background-color: $color-white;
    padding-right: 18px;
    vertical-align: middle;
    &.number {
      width: 45px;
      height: 45px;
      font-family: $font-number;
      display: inline-block;
      padding: 8px 6px 6px;
      @include border-radius(50%);
      margin-right: 17px;
      vertical-align: middle;
      color: $color-white;
      background-color: $color-blue-light;
      text-align: center;
      @include mq() {
        width: 35px;
        height: 35px;
      }
    }
  }
  &:after {
    content: '';
    height: 1px;
    position: absolute;
    left: 100px;
    right: 0;
    z-index: 1;
    @include transform_center(top);
    background-color: #C4C4C4;
  }
}

.section-label-line {
  position: relative;
  margin-bottom: 22px;
  p {
    display: inline-block;
    background-color: $color-white;
    position: relative;
    z-index: 2;
    margin: 0 !important;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 26px;
    @include mq() {
      font-size: fs(14);
      line-height: fs(20);
    }
    &.label {
      padding: 9px;
      margin-right: 16px;
      font-weight: normal;
      color: $color-white;
      background-color: $color-blue-light;
      border: none;
      font-family: $font-base;
      @include mq() {
        padding: 6px;
        margin-right: 10px;
      }
    }
    &.text {
      padding-right: 22px;
      @include mq() {
        padding-right: 10px;
      }
    }
  }
  &:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    z-index: 1;
    @include transform_center(top);
    background-color: #C4C4C4;
  }
}
/* -------------------
  Date, time
--------------------*/
.date {
  font-family: $font-number;
  font-size: fs(16);
  letter-spacing: .3px;
  @include mq() {
    font-size: fs(14);
  }
}


/* -------------------
  Tags, Label
--------------------*/
.tag {
  display: inline-block;
  width: 90px;
  margin-right: 2px;
  padding: 2px 10px 1px;
  background-color: #164FA0;
  color: #fff;
  border-radius: 2px;
  font-size: fs(14);
  letter-spacing: .5px;
  transition: all .3s;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  // &:hover {
  //   opacity: .7;
  // }
}

.tag2 {
  display: inline-block;
  color: #164FA0;
  font-size: fs(16);
  transition: all .25s;
  @include mq() {
    font-size: fs(14);
  }

  &:last-child {
    margin-right: 0;
  }

}

.label {
  margin-right: 10px;
  padding: 2px 5px;
  font-family: $font-a;
  font-size: fs(10);
  line-height: fs(15);
  border: solid 1px #000;
  background-color: #fff;
  @include mq() {
    padding: 1px 3px;
  }

  &:last-child {
    margin-right: 0;
  }
}


/* -------------------
  Link, Button, Tab
--------------------*/
.line {
  position: relative;
  &:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: $color-base;
    @include transform(translate3d(0,0,0) scale(0,1));
    transform-origin: right center;
    @include transition(transform);
    transition-duration: 0.5s;
  }
  &:hover {
    &:after {
      @include transform(translate3d(0,0,0) scale(1,1));
      transform-origin: left center;
    }
  }
}
.link {
  display: block;
  transition: all .3s;

  &:hover {
    opacity: .7;
  }

  &.underline {
    display: inline-block;
    text-decoration: underline;
    font-size: fs(14);
    line-height: 1;
    color: #7B7B6C;
    &:hover{
      text-decoration: none;
    }
  }
}

.link-blue {
  position: relative;
  display: inline-block;
  color: #0094D9;
  transition: all .3s;
  &:hover {
    opacity: .7;
    &:after {
      display: none;
    }
  }
  &:after {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: #0094D9;
    content: ""; 
  }
}

.link-icon {
  position: relative;
  padding-right: 14px;
  font-size: fs(14);
  line-height: 1;
  color: #7B7B6C;
  transition: all .3s;
  &:hover{
    &:after {
      display: block;
    }
  }
  &:after {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 14px);
    height: 1px;
    background-color: #7B7B6C;
    content: "";
  }
  &.blank {
    background: url(../images/common/icon-blank.svg) right center / 12px 12px  no-repeat;
  }
  &.pdf {
    background: url(../images/common/icon-pdf.svg) right center / 11px 13px  no-repeat;
  }
  &.excel {
    background: url(../images/common/icon-excel.svg) right center / 11px 13px  no-repeat;
  }
}

.link-viewAll {
  display: inline-block;
  padding-top: 24px;
  font-size: fs(14);
  font-weight: bold;
  color: #7B7B6C;
  background: url(../images/common/icon-all.svg) no-repeat top center;
  background-size: 18px 18px;
}

.link-go {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 5px);
    width: 12px;
    height: 12px;
    // background: url(../images/common/icon-page-right-gray.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

.view-more {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0px;
  font-size: fs(14);
  line-height: 1;
  transition: all .3s;
  color: #7B7B6C;
  background: url(../images/common/icon-arrow-right-gray.svg) right center / 10px 10px no-repeat;
  
  &:hover{
    &:after {
      display: block;
    }
  }
  &:after {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 20px);
    height: 1px;
    background-color: #7B7B6C;
    content: "";
  }
}

.view-more-wrap {
  @include flex;
}

.btn-view-more {
  position: relative;
  width: 200px;
  min-height: 47px;
  @include flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: normal;
  font-size: fs(18);
  line-height: fs(26);
  transition: all .3s;
  padding: 10px 50px 10px 26px;
  color: $color-white;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  border-right-width: 0;
  @include transition(color, background, border-color);
  @include mq() {
    width: 147px;
    min-height: 34px;
    font-size: fs(14);
    line-height: fs(16);
    padding: 5px 34px 5px 20px;
  }
  @include mq('sm3') {
    width: 120px;
    padding: 10px 30px 10px 10px; 
  }
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    background-color: $color-white;
    border-right: 1px solid #164FA0;
    @include transform(translate3d(0,0,0) scale(0,1));
    transform-origin: right center;
    @include transition(transform);
    transition-duration: 0.5s;
  }
  &:after {
    content: '';
    width: 49px;
    position: absolute;
    right: 0;
    top: 1px;
    bottom: 1px;
    border-left: 1px solid #3878D3;
    background: url(../images/common/icon/icon-arrow-wh.svg) no-repeat center center;
    @include mq() {
      width: 35px;
      background-size: 10px;
    }
    @include mq('sm3') {
      width: 30px;
    }
  }
  &:hover {
    color: $color-blue;
    &:before {
      @include transform(translate3d(0,0,0) scale(1,1));
      transform-origin: left center;
    }
    &:after {
      background: url(../images/common/icon/icon-arrow-blu.svg) no-repeat center center;
    }
  }
  &.full-width {
    width: 100%;
    margin-right: 1px;
    &.type2 {
      width: 98%;
      @include mq(sm) {
        width: 100%;
      }
    }
  }
  &.type3 {
    width: 250px;
    @include mq() {
      width: 180px;
      margin: 0 auto;
    }
  }
  span {
    position: relative;
    z-index: 1;
  }
}

.btn-view-more2 {
  display: inline-block;
  height: 56px;
  padding: 0 76px;
  font-size: fs(14);
  font-weight: bold;
  line-height: 56px;
  border-radius: 4px;
  border: solid 1px #fff;
  transition: all .3s;

  &:hover {
    border-color: #7B7B6C;
    color: #7B7B6C;
    background-image: url(../images/common/icon-arrow-right-gray.svg);
  }
}

.btn {
  @include flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 62px;
  @include border-radius(8px);
  padding: 10px;
  border: none;
  font-weight: bold;
  font-size: fs(30);
  line-height: 40px;
  transition: all .3s;
  color: $color-white;
  background-color: $color-blue-light;
  @include transition(color, background, border-color);
  @include mq() {
    width: 85px;
    height: 36px;
    font-size: fs(14);
    padding: 5px 10px;
    @include border-radius(3px);
  }
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    background: linear-gradient(180deg, #1973BB 0%, #05589B 100%);
    transition: opacity 0.3s ease-out;
    z-index: 0;
    opacity: 0;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
  &.contact {
    width: 376px;
    background: linear-gradient(180deg, #1973BB 0%, #05589B 100%);
    @include mq() {
      width: 311px;
      height: 52px;
      font-size: fs(24)
    }
    @include mq('sm3') {
      width: 280px;
      font-size: fs(20);
    }
    &:before {
      background: $color-blue-light;
    }
  }
  &.sns-fb {
    height: 52px;
    font-weight: bold;
    font-size: fs(18);
    line-height: fs(23);
    @include mq() {
      width: 257px;
      height: 45px;
      font-size: fs(16);
      line-height: fs(19);
      padding: 5px;
      margin: 0 auto;
      @include border-radius(8px);
    }
    span {
      &::before {
        content: '';
        width: 28px;
        height: 28px;
        display: inline-block;
        background: url(../images/common/icon/icon-fb-wh.svg) no-repeat left center;
        background-size: 28px 28px;
        margin-right: 23px;
        vertical-align: middle;
        margin-bottom: 3px;
      }
    }
  }

  &.type2 {
    background-color: #C7C7C7;

    &:hover {
      opacity: .7;
    }
  }
  span {
    position: relative;
    z-index: 1;
  }
}
span {
  &.btn {
    &:before {
      content: none;
    }
  }
}

.btn-close {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: url(../images/common/icon-close.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

.btn-read-file {
  position: relative;
  width: 200px;
  height: 47px;
  @include flex;
  justify-content: center;
  align-items: center;
  color: $color-blue;
  border: 1px solid currentColor;
  font-weight: normal;
  font-size: fs(18);
  line-height: fs(26);
  @include transition(color, background, border-color);
  @include mq() {
    width: 147px;
    height: 34px;
    font-size: fs(14);
    padding: 5px 10px;
  }
  @include mq('sm3') {
    width: 120px;
  }
  
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    background-color: $color-blue;
    @include transform(translate3d(0,0,0) scale(0,1));
    transform-origin: right center;
    @include transition(transform);
    transition-duration: 0.5s;
  }
  &:hover {
    color: $color-white;
    span {
      &:before {
        background: url(../images/common/icon/icon-pdf-wh.svg) no-repeat center center;
        background-size: 100%;
      }
    }
    &:after {
      transform-origin: left center;
      @include transform(translate3d(0,0,0) scale(1,1));
    }
  }
  span {
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      width: 19px;
      height: 22px;
      display: inline-block;
      margin-right: 15px;
      vertical-align: middle;
      background-size: 100%;
      background: url(../images/common/icon/icon-pdf.svg) no-repeat center center;
      background-size: 100%;
      margin-top: -4px;
      @include mq() {
        width: 14px;
        height: 16px;
        margin-right: 10px;
      }
    }
  }
  &.download {
    width: 435px;
    background-color: $color-blue;
    color: $color-white;
    &:after {
      background-color: $color-white;
    }
    span {
      &:before {
        background: url(../images/common/icon/icon-pdf-wh.svg) no-repeat center center;
        background-size: 100%;
      }
      &:after {
        content: '';
        width: 23px;
        height: 21px;
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
        background: url(../images/common/icon/icon-download.svg) no-repeat center center;
        background-size: 100%;
        margin-top: -4px;
        @include mq() {
          width: 14px;
          height: 16px;
          margin-right: 10px;
        }
      }
    }
    &:hover {
      color: $color-blue;
      span {
        &:before {
          background: url(../images/common/icon/icon-pdf.svg) no-repeat center center;
        }
        &:after {
          background: url(../images/common/icon/icon-download-blue.svg) no-repeat center center;
        }
      }
      &:after {
        transform-origin: left center;
        @include transform(translate3d(0,0,0) scale(1,1));
      }
    }
  }
}
/* -------------------
  icon
--------------------*/
.icon {
  position: relative;
  &.circle {
    padding-left: 40px;
    &:before {
      content: '';
      width: 31px;
      height: 31px;
      position: absolute;
      left: 0;
      @include transform_center(top);
      @include border-radius(50%);
      background-color: $color-blue;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &.build {
    &:before {
      background-image: url(../images/common/icon/icon-build.svg);
    }
  }
  &.location {
    &:before {
      background-image: url(../images/common/icon/icon-location.svg);
    }
  }
  &.tel {
    &:before {
      background-image: url(../images/common/icon/icon-phone.svg);
      background-size: 16px 13px;
    }
  }
}
/* -------------------
  Group button
--------------------*/

.post-ctrl {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px 0;

  &--link {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0px;
    font-size: fs(14);
    line-height: 1;
    transition: all .3s;
    color: #7B7B6C;
    background: url(../images/common/icon-arrow-right-gray.svg) right center / 10px 10px no-repeat;
    
    &:hover{
      &:after {
        display: block;
      }
    }
    &:after {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% - 20px);
      height: 1px;
      background-color: #7B7B6C;
      content: "";
    }
  }

  .back {
    margin-right: auto;
    padding: 0 0 0 20px;
    background: url(../images/common/icon-arrow-left-gray.svg) left center/10px 10px no-repeat;
    &:after {
      left: 20px;
    }
  }

  .next {
    margin-left: auto;
  }
  &--menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding-top: 24px;
    font-size: fs(14);
    font-weight: bold;
    color: #7B7B6C;
    background: url(../images/common/icon-all.svg) no-repeat top center;
    background-size: 18px 18px;
  }
}

.post-direct {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px 11px;
      border-top: 1px solid #C7C7C7;
      border-bottom: 1px solid #C7C7C7;
      @include mq() {
        padding: 30px 20px 20px;
      }
      &-tag {
        @include mq() {
          width: 100%;
        }
      }
      &-sns {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        @include mq() {
          width: 100%;
          justify-content: center;
          margin-top: 20px;
        }
        a {
          margin-right: 20px;
          @include mq() {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border: solid 1px #7B7B6C;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: auto;
            }
          }
          &.facebook {
            padding-bottom: 2px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }