@charset "UTF-8";
/* -------------------
  COMMON
--------------------*/

// =========================================
// Font family
// =========================================

// @font-face{
//   font-family: EuclidFlex;
//   src: url('../font/EuclidFlex/EuclidFlex-Regular.eot'); // IE9 Compat Modes
//   src: url('../font/EuclidFlex/EuclidFlex-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
//        url('../font/EuclidFlex/EuclidFlex-Regular.woff2') format('woff2'),  Super Modern Browsers 
//        url('../font/EuclidFlex/EuclidFlex-Regular.woff') format('woff'), // Pretty Modern Browsers
//        url('../font/EuclidFlex/EuclidFlex-Regular.ttf')  format('truetype'), // Safari, Android, iOS
//        url('../font/EuclidFlex/EuclidFlex-Regular.svg#svgFontName') format('svg'); // Legacy iOS
// }

body {
  font-family: $font-base;
  font-weight: 500;
  color: $color-base;
  &.fixed {
    height: 100vh;
    overflow: hidden;
    // display: flex;
  }
}

// =========================================
// CONTROL VIEW ELEMENT
// =========================================

.pc-only {
  display: block;

  @include mq() {
    display: none !important;
  }
}

.pc-only2 {
  display: inline-block;

  @include mq() {
    display: none !important;
  }
}

.sp-only {
  display: none !important;

  @include mq() {
    display: block !important;
  }
}

.sp-only2 {
  display: none !important;

  @include mq(sm2) {
    display: block !important;
  }
}


// =========================================
// WRAPPER
// =========================================
.wrapper {
  // min-width: 1400px;
  // padding-top: 90px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  @include mq() {
    // min-width: 100%;
    // padding-top: 50px;
  }
}

// =========================================
// MAIN
// =========================================
.main {
  position: relative;
  // padding-bottom: 80px;
  // background-color: #F7F6ED;
  &.--top {
    &::before {
      content: '';
      width: 783px;
      height: 718px;
      position: absolute;
      top: 357px;
      left: 0;
      z-index: -1;
      background: url(../images/common/map.svg) no-repeat center center;
      background-size: 100%;
    }
  }
}

// =========================================
// CONTAINER
// =========================================
.container {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  @include mq(sm2) {
    padding: 0 20px;
  }
  @include mq(tb2) {
    padding: 0 20px;
  }
  @include mq(pc2) {
    max-width: 1168px;
    padding: 0;
  }
}