@charset "UTF-8";
/* -------------------
  MIXIN
--------------------*/

// =========================================
// px to vw
// =========================================
@function vw($size) {
  @return $size / 1600 * 100vw;
}

// =========================================
// Font size for px to rem
// =========================================
@function fs($size) {
  @return $size / 16 * 1rem;
}
/* 
.example {
  font-size: fs(12); <- 12px quite
}
*/


// =========================================
// Media queries
// =========================================
$breakpoints: (
	'sm3': 'screen and (max-width: 350px)', // <- Small SmartPhone (iPhone5,..)
  'sm2': 'screen and (max-width: 767px)', // <- Big SmartPhone (iPhoneX,..)
  'tb2': 'screen and (min-width: 768px) and (max-width: 949px)', // <- Table only (iPad) and SmartPhone Landscape
  'tb': 'screen and (min-width: 950px) and (max-width: 1050px)', // <- Big Table (iPad Pro,..) and iPad
  'sm': 'screen and (max-width: 1050px)', // <- Default (SmartPhone and Tablet)
  'pc': 'screen and (min-width: 1051px)', // <- PC only
  'pc2': 'screen and (min-width: 1200px)' // <- Big PC only
) !default;

@mixin mq($breakpoint: sm2) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
/* 
.example {
  @include mq() {
	  width: 100%;
	}
}
*/

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexwrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

@mixin border-radius($value) {
  border-radius: $value;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  -o-border-radius: $value;
}

@mixin transform($value) {
  transform: $value;
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
}

@mixin transform_center($value : all) {
  @if ($value == left){
      @include transform(translate(-50%,0));
      left: 50%;
  }@else if ($value == top){
      @include transform(translate(0,-50%));
      top: 50%;
  }@else{
      @include transform(translate(-50%,-50%));
      top: 50%;
      left: 50%;
  }
}

@mixin appearance_none {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin transition($name1: null, $name2: null, $name3: null, $name4: null, $name5: null) {
  @if $name5 {
      transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease, $name5 0.3s ease;
      -webkit-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease, $name5 0.3s ease;
      -moz-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease, $name5 0.3s ease;
      -ms-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease, $name5 0.3s ease;
      -o-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease, $name5 0.3s ease;
  }
  @else if $name4 {
      transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease;
      -webkit-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease;
      -moz-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease;
      -ms-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease;
      -o-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease, $name4 0.3s ease;
  }
  @else if $name3 {
      transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease;
      -webkit-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease;
      -moz-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease;
      -ms-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease;
      -o-transition: $name1 0.3s ease, $name2 0.3s ease, $name3 0.3s ease;
  }
  @else if $name2 {
      transition: $name1 0.3s ease, $name2 0.3s ease;
      -webkit-transition: $name1 0.3s ease, $name2 0.3s ease;
      -moz-transition: $name1 0.3s ease, $name2 0.3s ease;
      -ms-transition: $name1 0.3s ease, $name2 0.3s ease;
      -o-transition: $name1 0.3s ease, $name2 0.3s ease;
  }
  @else if $name1 {
      transition: $name1 0.3s ease;
      -webkit-transition: $name1 0.3s ease;
      -moz-transition: $name1 0.3s ease;
      -ms-transition: $name1 0.3s ease;
      -o-transition: $name1 0.3s ease;
  }
  @else {
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
  }
}
