// Slide button control
.slick-dots  {
  position: absolute;
  bottom: 25px;
  right: 18.9%;
  @include mq() {
    right: 15px;
    bottom: 18px;
  }
  > li {
    margin-right: 7px;
    &.slick-active {
      > button {
        background-color: $color-blue-light;
      }
    }
    > button {
      width: 20px;
      height: 20px;
      border: none;
      background-color: $color-white;
      @include mq() {
        width: 8px;
        height: 8px;
      }
      &:before {
        content: none;
      }
    }
  }
}
.slick-arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-top: -10px;
  background-color: $color-blue;
  box-shadow: 0px 8px 20px rgba(22, 79, 160, 0.3);
  @include border-radius(50%);
  @include transform_center(top);
  background-repeat: no-repeat;
  background-position: center center;
  @include transition(opacity);
  z-index: 1;
  &:hover {
    opacity: 0.8;
  }
  @include mq() {
    width: 38px;
    height: 38px;
    background-size: 6px 9px;
  }
}
.slick-next {
  background-image: url(../images/common/icon/icon-next.svg);
  right: -10px;

}
.slick-prev {
  left: -10px;
  background-image: url(../images/common/icon/icon-prev.svg);
}