@charset "UTF-8";
/* -------------------
  FOOTER
--------------------*/
.footer {
  position: relative;
  z-index: 0;
  margin-top: 10rem;
  @include mq() {
    margin-top: 5rem;
  }
  &__contact {
    &-top {
      background-color: $color-blue;
      .container {
        @include mq() {
          padding: 0 7px;
        }
      }
      &__inner {
        @include flex;
        height: 115px;
        justify-content: space-between;
        align-items: center;
        @include mq() {
          height: 60px;
        }
        p {
          font-weight: normal;
          font-size: fs(30);
          line-height: fs(40);
          color: $color-white;
          @include mq('sm') {
            margin-right: 10px;
            font-size: fs(20);
          }
          @include mq('tb2') {
            line-height: 1.4
          }
          @include mq() {
            font-size: fs(14);
            line-height: 1.4;
          }
          > br {
            @include mq('tb2') {
              display: block !important;
            }
          }
        }
      }
    }
    &-bottom {
      min-height: 400px;
      padding: 58px 0;
      position: relative;
      background: url(../images/common/bg-contact.jpg) no-repeat center center;
      background-size: cover;
      @include mq() {
        min-height: 483px;
        padding: 20px 0;
      }
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: $color-blue-op70;
      }
      .container {
        position: relative;
        z-index: 1;
      }
      .title {
        margin-bottom: 70px;
        font-weight: bold;
        font-size: fs(32);
        line-height: fs(40);
        color: $color-white;
        text-align: center;
        @include mq('sm') {
          font-size: fs(24);
        }
        @include mq() {
          font-size: fs(20);
          line-height: fs(28);
          margin-bottom: 30px;
        }
        @include mq('sm3') {
          font-size: fs(16);
        }
      }
    }
    &__inner {
      @include flex;
      flex-flow: column;
      align-items: center;
      color: $color-white;
      .block {
        position: relative;
        text-align: center;
        padding-left: 100px;
        margin-bottom: 14px;
        @include mq() {
          padding-left: 86px;
        }
        @include mq('sm3') {
          padding-left: 65px;
        }
        &:before {
          content: '';
          width: 75px;
          height: 75px;
          border: 1px solid $color-white;
          @include border-radius(50%);
          position: absolute;
          left: 0;
          @include transform_center(top);
          background-color: $color-blue;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url(../images/common/icon/icon-phone.svg);
          @include mq() {
            width: 63px;
            height: 63px;
          }
          @include mq('sm3') {
            width: 50px;
            height: 50px;
          }
        }
        &.phone {
          &:before {
            background-image: url(../images/common/icon/icon-phone.svg);
            background-size: 43px 34px;
            @include mq() {
              background-size: 36px 28px;
            }
          }
        }
        &.email {
          &:before {
            background-image: url(../images/common/icon/icon-email.svg);
            background-size: 37px 27px;
            @include mq() {
              background-size: 30px 22px;
            }
          }
        }
      }
      strong {
        display: block;
        font-weight: bold;
        font-size: fs(30);
        line-height: fs(50);
        @include mq('sm') {
          font-size: fs(26);
        }
        @include mq() {
          font-size: fs(24);
          line-height: 1.8;
        }
        @include mq('sm3') {
          font-size: fs(20);
        }
      }
      small {
        display: block;
        font-weight: bold;
        font-size: fs(18);
        line-height: fs(23);
        @include mq('sm') {
          font-size: fs(16);
        }
        @include mq() {
          font-size: fs(16);
          line-height: fs(18);
        }
        @include mq('sm3') {
          font-size: fs(14);
        }
      }
      .number {
        margin-top: 7px;
        font-weight: bold;
        font-size: fs(55);
        line-height: fs(50);
        font-family: $font-number;
        @include transition(opacity);
        @include mq() {
          font-size: fs(46);
          line-height: fs(50);
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  &__fnavi {
    padding: 38px 0 2px;
    @include mq() {
      padding: 21px 30px 21px 5px;
    }
    @include mq('sm3') {
      padding: 20px 0;
    }
    .col3 {
      justify-content: space-between;
      &-item {
        width: 32%;
        @include mq() {
          width: 100%;
        }
      }
    }
    &__title {
      font-weight: bold;
      font-size: fs(16);
      line-height: fs(32);
      color: $color-blue;
      position: relative;
      margin-bottom: 23px;
      @include mq() {
        margin-bottom: 16px;
      }
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        z-index: -1;
        @include transform_center(top);
        background-color: $color-blue;
      }
      p {
        position: relative;
        z-index: 1;
        padding-right: 10px;
        display: inline-block;
        background-color: $color-white;
      }
    }
    &__list {
      > li {
         margin-bottom: 16px;
         @include mq() {
           margin-bottom: 15px
         }
         > a {
           display: inline-block;
           font-weight: normal;
           font-size: fs(16);
           line-height: fs(16);
           color: $color-base;
           padding-left: 15px;
           background: url(../images/common/icon/icon-arrow-blue.svg) no-repeat left 3px;
           @include mq() {
            font-size: fs(14);
            line-height: fs(16);
            background-position: left 2px;
          }
         }
       }
    }
  }
  &__address {
    padding: 40px 0 20px;
    background-color: $color-lavender;
    @include mq('pc2') {
      padding: 40px 0 20px;
    }
    @include mq('pc') {
      padding: 40px 10px 20px;
    }
    @include mq('sm') {
      padding: 40px 10px 20px;
    }
    address {
      margin-bottom: 19px;
      p {
        font-weight: normal;
        font-size: fs(20);
        line-height: fs(42);
        font-family: $font-number;
        @include mq() {
          @include flex;
          align-items: center;
          min-height: 27px;
          margin-bottom: 7px;
          font-size: fs(14);
          line-height: fs(18);
        }
      }
    }
  }
  &__logo {
    margin-bottom: 15px;
    @include mq() {
      text-align: center;
    }
  }
  &__map {
    box-shadow: 0px 8px 15px rgba(22, 79, 160, 0.2);
    @include border-radius(8px);
    iframe {
      width: 100%;
      height: 250px;
    }
  }
  .copyright {
    text-align: center;
    font-weight: normal;
    font-size: fs(16);
    line-height: fs(23);
    padding: 15px 10px;
    color: $color-white;
    background-color: $color-blue;
  }
}