@charset "UTF-8";
/* -------------------
  HEADER
--------------------*/
.header {
	// color: red;
  $header: &;
  position: relative;
  z-index: 1000;
  min-height: 182px;
  @include mq() {
    min-height: 117px;
    background-color: $color-white;
  }
  .container {
    padding: 0;
  }
  &__top {
    color: #FFFFFF;
    background-color: #164FA0;
    &-inner {
      @include flex;
      justify-content: space-between;
      align-items: center;
      padding: 11px 0 6px;
      @include mq() {
        padding: 9px 0 10px;
        justify-content: center;
      }
    }
    &-address {
      font-weight: normal;
      font-size: fs(16);
      line-height: fs(20);
      @include mq() {
        font-size: fs(12);
        line-height: 1;
      }
    }
    &-sns {
      display: block;
      font-weight: bold;
      min-height: 21px;
      font-size: fs(16);
      line-height: fs(20);
      padding-left: 33px;
      background: url(../images/common/icon/icon-fb-wh.svg) no-repeat left center;
      background-size: 21px 21px;
    }
  }
  &__bottom {
    position: relative;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 15px rgba(22,79,160,0.25);
    border-bottom: 2px solid #BDBDBD;
    &.fixed {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      background-color: $color-white;
      #{$header}__logo {
        width: 90px;
        height: 54px;
        @include mq() {
          width: 66px;
          height: 40px;
          padding-bottom: 0;
        }
      }
      #{$header}__contact {
        max-height: 0;
        overflow: hidden;
        margin-bottom: 0;
        @include mq() {
          max-height: 100%;
        }
      }
      #{$header}__bottom-inner {
        padding: 10px 0;
        @include mq() {
          padding: 10px 20px;
        }
      }
      #{$header}__right {
        padding-bottom: 0; 
      }
      #{$header}__nav-sp {
        top: 0;
      }
    }
    &-inner {
      @include flex;
      align-items: center;
      justify-content: space-between;
      padding: 27px 0 18px;
      position: relative;
      z-index: 100;
      @include mq() {
        padding: 18px 20px 3px;
      }
    }
  }
  &__logo {
    width: 161px;
    height: 96px;
    @include transition(width, height);
    transition-duration: 0.3s;
    @include mq() {
      width: 86px;
      height: 63px;
    }
  }
  &__right {
    width: calc(100% - 190px);
    @include transition(padding-bottom);
    @include mq() {
      width: auto;
      @include flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 15px;
    }
  }
  &__contact {
    @include flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    max-width: 100%;
    @include transition(max-height,margin-bottom);
    transition-duration: 0.3s;
    @include mq() {
      margin-bottom: 0;
    }
    &-item {
      position: relative;
      text-align: center;
      padding-left: 65px;
      @include mq('tb2') {
        padding-left: 60px;
      }
      @include mq() {
        padding-left: 0;
        margin-left: 8px;
      }
      &:before {
        content: '';
        width: 52px;
        height: 52px;
        @include border-radius(50%);
        position: absolute;
        left: 0;
        @include transform_center(top);
        background-color: $color-blue;
        background-repeat: no-repeat;
        background-position: center center;
        @include mq() {
          width: 36px;
          height: 36px;
        }
      }
      &.phone {
        margin-right: 67px;
        padding-left: 55px;
        @include mq('tb2') {
          margin-right: 15px;
          padding-left: 50px;
        }
        @include mq() {
          padding-left: 0;
          margin-right: 0;
        }
        &:before {
          background-image: url(../images/common/icon/icon-phone.svg);
          @include mq() {
            background-size: 20px 16px;
          }
        }
        a {
          font-family: $font-number;
        }
      }
      &.email {
        &:before {
          background-image: url(../images/common/icon/icon-email.svg);
          @include mq() {
            background-size: 18px 13px;
          }
        }
      }
      &.facebook {
        &:before {
          background-image: url(../images/common/icon/icon-fb-line.svg);
          @include mq() {
            background-size: 9px 20px;
          }
        }
      }
      a {
        position: relative;
        z-index: 1;
        display: block;
        color: $color-blue;
        font-weight: bold;
        font-size: fs(32);
        line-height: 1;
        letter-spacing: 0.03em;
        @include transition(opacity);
        @include mq('tb2') {
          font-size: fs(30);
        }
        @include mq() {
          font-size: 0;
          width: 36px;
          height: 36px;
          @include border-radius(50%);
        }
        &:hover {
          opacity: 0.8;
        }
      }
      span {
        margin-top: 5px;
        color: $color-base;
        font-weight: normal;
        font-size: fs(15);
        line-height: fs(18);
        letter-spacing: 0.03em;
      }
    }
  }
  &__nav {
    &-sp {
      position: fixed;
      display: none;
      top: -31px;
      bottom: 0;
      left: 100%;
      width: 100%;
      height: 100vh;
      overflow: auto;
      z-index: 1000;
      background-color: $color-blue;
      @include transition(left);
      transition-duration: 0.5s;
      @include mq() {
        display: block;
      }
      &.active {
        @include mq() {
          left: 0;
        }
      }
      &__top {
        @include flex;
        justify-content: space-between;
        align-items: center;
        padding: 26px 22px 20px 32px;
      }
    }
    &-list {
      @include flex;
      justify-content: flex-end;
      @include mq() {
        display: block;
        position: relative;
        min-height: calc(100vh - 250px);;
        overflow: hidden;
      }
      > li {
        margin-left: 4%;
        @include mq() {
          padding: 0 23px 0 31px;
          margin-left: 0;
          margin-bottom: 25px;
        }
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          .dropdown {
            visibility: visible;
            opacity: 1;
          }
        }
        > a {
          display: block;
          color: $color-base;
          font-weight: bold;
          font-size: fs(16);
          line-height: fs(19);
          text-align: center;
          @include transition(color);
          @include mq() {
            position: relative;
            color: $color-white;
            font-size: fs(16);
            line-height: fs(21);
            margin: 15px 0;
            text-align: left;
          }
          &:hover, &.active {
            color: $color-blue;
            + .dropdown {
              visibility: visible;
              opacity: 1;
            }
            @include mq() {
              color: $color-white;
            }
          }
          &.js-accorLabel {
            &:after {
              @include mq() {
                content: '';
                position: absolute;
                right: 0;
                width: 20px;
                height: 20px;
                @include border-radius(50%);
                @include transform_center(top);
                background: url(../images/common/icon/icon-plus.svg);
              }
            }
            &.active {
              &:after {
                background: url(../images/common/icon/icon-minus.svg);
              }
            }
          }
        }
        .dropdown {
          position: absolute;
          visibility: hidden;
          z-index: 100;
          opacity: 0;
          left: 0;
          right: 0;
          height: 234px;
          padding: 20px 0 0;
          @include transition(opacity);
          ul {
            position: relative;
            padding: 30px 0;
            background-color: $color-blue;
            @include flex;
            justify-content: center;
            box-shadow: 0 2px 15px rgba(22,79,160,0.25);
            &:after,
            &:before {
              content: '';
              width: 10000px;
              height: 100%;
              position: absolute;
              top: 0;
              background-color: $color-blue;
              box-shadow: 0 4px 15px rgba(22,79,160,0.35);
            }
            &:after {
              left: 100%
            }
            &:before {
              right: 100%
            }
            li {
              flex-flow: column;
              padding: 0 15px;
              a {
                @include flex;
                flex-flow: column;
                text-align: center;
                &:hover {
                  img {
                    opacity: 0.8;
                  }
                  span {
                    opacity: 0.8;
                  }
                }
              }
              span {
                display: inline-block;
                font-weight: bold;
                font-size: fs(14);
                line-height: fs(16);
                color: $color-white;
                @include transition(opacity);
                &:after {
                  content: '';
                  width: 15px;
                  height: 15px;
                  display: inline-block;
                  vertical-align: middle;
                  margin-left: 4px;
                  margin-top: -2px;
                  background: url(../images/common/icon/icon-arrow-circle-wh.svg) no-repeat center center;
                }
              }
              img {
                vertical-align: top;
                margin-bottom: 11px;
                width: auto;
                height: 134px;
                @include transition(opacity);
              }
            }
          }
        }
      }
      &__sub {
        margin: 0 -23px 0 -31px;
        padding: 19px 23px 18px 31px;;
        background-color: $color-blue-bold;
        color: $color-white;
        &.js-accorCnt {
          display: none;
        }
        > li {
          margin-bottom: 14px;
          > a {
            display: block;
            padding: 5px 0;
            font-size: fs(14);
            line-height: fs(16);
            color: $color-white;
          }
        }
      }
    }
    &-content {
      height: calc(100vh - 200px);
      overflow-y: auto;
    }
  }
  &__btn {
    outline: 0;
    border: none;
    background-color: transparent;
    img {
      vertical-align: top;
    }
    &.--menu {
      width: 32px;
      height: 21px;
      margin-left: 20px;
    }
    &.--close {
      width: 21px;
      height: 20px;
    }
  }
}

// menu

