@charset "UTF-8";
/* -------------------
  ABOUT PAGE
--------------------*/
.about {
  &-top {
    margin-bottom: 104px;
    p {
      font-size: fs(16);
      line-height: fs(26);
    }
  }
  &-author {
    background-color: $color-lavender;
    &__img {
      margin-top: -57px;
    }
    &__cnt {
      padding: 52px 0 42px 20px;
      @include mq() {
        padding: 30px 0;
      }
      .section-title-line {
        span {
          background-color: $color-lavender;
        }
      }
       > p {
        margin-bottom: 15px;
        font-weight: normal;
        font-size: fs(16);
        line-height: fs(20);
        @include mq() {
          font-size: fs(14);
        }
      }
    }
    &__name {
      @include flex;
      justify-content: flex-end;
      align-items: center;
      margin-top:  47px;
      p {
        font-size: fs(14);
        line-height: fs(20);
        @include mq() {
          font-size: fs(12);
        }
        strong {
          font-family: $font-noto;
          font-weight: bold;
          font-size: fs(30);
          margin-left: 27px;
          @include mq() {
            font-size: fs(22);
          }
        }
      }
    }
  }
  &-md {
    padding: 51px 0 30px;
    img {
      margin-bottom: 30px;
    }
    h3 {
      font-weight: bold;
      font-size: fs(30);
      line-height: 1;
      margin-bottom: 27px;
      @include mq() {
        font-size: fs(20);
      }
    }
    p {
      font-size: fs(16);
      line-height: fs(24);
      @include mq() {
        font-size: fs(14);
      }
    }
  }
  &-table {
    margin-bottom: 57px;
  }
}
