@charset "UTF-8";
/* -------------------
  OVERVIEW PAGE
--------------------*/
.overview {
  padding: 20px 0;
  overflow: hidden;
  p {
    font-size: fs(16);
    line-height: fs(26);
    margin-bottom: 25px;
    @include mq() {
      font-size: fs(14);
      line-height: fs(18);
    }
  }
  &-map {
    margin-bottom: 40px;
    iframe {
      width: 100%;
      height: 527px;
    }
  }
  &-business {
    position: relative;
    margin: 0;
    &::before {
      content: '';
      height: 100%;
      position: absolute;
      top: 5px;
      left: 6px;
      border: 1px dashed #D3D3D3;
    }
    > li {
      position: relative;
      padding-left: 27px;
      font-weight: normal;
      font-size: fs(16);
      line-height: fs(26);
      margin-bottom: 41px;
      @include mq() {
        font-size: fs(16);
        margin-bottom: 30px;
      }
      &:before {
        content: '';
        width: 13px;
        height: 13px;
        position: absolute;
        top: 3px;
        left: 0;
        z-index: 1;
        background-color: $color-blue;
        @include border-radius(50%);
      }
      &:last-child {
        &:after {
          content: '';
          height: 100%;
          position: absolute;
          top: 5px;
          left: 6px;
          border: 1px solid $color-white;
        }
      }
    }
  }
  .table {
    margin-bottom: 32px;

  }
}