@charset "UTF-8";
/* -------------------
  SKILLS PAGE
--------------------*/
.question {
  padding: 26px 0 60px;
  &__desc {
    font-weight: normal;
    font-size: fs(16);
    line-height: fs(26);
    // text-align: center;
    margin-bottom: 20px;
    @include mq() {
      font-size: fs(14);
    }
  }
  &__list {
    li {
      margin-bottom: 6px;
    }
  }
  &__head {
    position: relative;
    padding: 11px 20px;
    padding-right: 55px;
    min-height: 67px;
    @include flex;
    align-items: center;
    width: 100%;
    color: $color-white;
    background-color: $color-blue;
    .light & {
      background-color: $color-blue-light
    }
    @include mq() {
      padding: 10px;
      padding-right: 25px;
      min-height: auto;
    }
    &:after {
      content: '';
      width: 23px;
      height: 23px;
      position: absolute;
      right: 26px;
      top: 50%;
      margin-top: -12px;
      background: url(../images/common/icon/icon-arrow-qa.svg) no-repeat center center;
      background-size: 100%;
      @include transition(transform);
      transition-duration: 0.6s;
      @include mq() {
        width: 12px;
        height: 12px;
        right: 8px;
        margin-top: -6px;
      }
    }
    &.active {
      &:after {
        @include transform(rotateX(180deg))
      }
    }
    .number {
      font-weight: normal;
      font-size: fs(30);
      line-height: 1;
      margin-right: 12px;
      font-family: $font-number;
      @include mq() {
        font-size: fs(16);
        margin-right: 8px;
      }
    }
    .title {
      font-weight: normal;
      font-size: fs(16);
      line-height: fs(26);
      @include mq() {
        font-size: fs(14);
        line-height: fs(20);
      }
    }
  }
  .js-accorCnt {
    display: none;
  }
  &__answer {
    @include flex;
    padding: 10px 15px;
    min-height: 155px;
    background-color: $color-blue-sky;
    .light & {
      min-height: 103px;
    }
    .alpha {
      font-size: fs(30);
      font-family: $font-number;
      line-height: 1;
      margin-right: 12px;
      color: $color-blue;
      @include mq() {
        font-size: fs(16);
      }
    }
    .text {
      font-weight: normal;
      font-size: fs(16);
      line-height: fs(26);
      padding-top: 3px;
      @include mq() {
        font-size: fs(14);
        padding-top: 0;
      }
    }
    &-table {
      width: 90%;
      @include mq() {
        width: 100%;
      }
    }
  }
}