@charset "UTF-8";
/* -------------------
  ABOUT PAGE
--------------------*/
.trainees {
  &-about {
    margin-top: 120px;
    background-color: $color-lavender;
    &__img {
      margin-top: -40px;
    }
    &__cnt {
      padding: 40px 0 115px 20px;
      @include mq() {
        padding: 20px 0 50px;
      }
      p {
        font-weight: normal;
        font-size: fs(16);
        line-height: fs(26);
        margin-bottom: 25px;
        @include mq() {
          margin-bottom: 10px;
        }
      }
    }
  }
  &-support {
    padding: 53px 0 35px;
    &__item {
      margin-bottom: 50px;
      h3 {
        text-align: center;
        font-weight: bold;
        font-size: fs(18);
        line-height: fs(28);
        color: $color-blue;
        margin-bottom: 25px;
      }
      p {
        font-weight: normal;
        font-size: fs(16);
        line-height: fs(26);
      }
    }
    &__img {
      @include flex;
      align-items: flex-end;
      min-height: 239px;
      margin-bottom: 55px;
      @include mq() {
        min-height: auto;
        margin-bottom: 20px;
      }
    }
  }
  &-benefits {
    padding: 60px 0;
    $benefits: &;
    &__item {
      @include flex;
      align-items: center;
      margin-bottom: 40px;
      @include mq() {
        display: block;
      }
      &:nth-child(odd) {
        #{$benefits}__cnt {
          padding-left: 36px;
          @include mq() {
           padding: 0;
          }
        }
      }
      &:nth-child(even) {
        #{$benefits}__cnt {
          padding-right: 40px;
          order: 1;
          @include mq() {
            padding: 0;
          }
        }
        #{$benefits}__img {
          order: 2;
        }
      }  
    }
    &__img {
      width: (465/1168)*100%;
      @include mq() {
        width: 100%;
        margin-bottom: 20px;
      }
      p {
        height: 280px;
        overflow: hidden;
        @include mq(sm) {
          height: 200px;
        }
        @include mq(sm2) {
          height: 220px;
        }
      }
      picture {
        width: 100%;
        height: 100%;
      }
      img {
        vertical-align: top;
      }
      .slick-dots {
        position: static;
        vertical-align: middle;
        > li {
          margin-right: 12px;
          > button {
            width: 14px;
            height: 14px;
            border: 1px solid transparent;
            background-color: $color-white;
            vertical-align: top;
            &:before {
              content: '';
              width: 10px;
              height: 10px;
              background-color:#CDCDCD
            }
          }
          &.slick-active {
            > button {
              border-color: $color-blue;
              &:before {
                background-color: $color-blue;
              }
            }
          }
        }
      }
    }
    &__cnt {
      width: calc(100% - (465/1168)*100%);
      padding-bottom: 40px;
      @include mq() {
        width: 100%;
      }
      h3 {
        font-weight: bold;
        font-size: fs(30);
        line-height: fs(60);
        color: $color-blue;
        margin-bottom: 13px;
        @include mq() {
          font-size: fs(20);
          line-height: fs(24);
        }
      }
      p {
        font-weight: normal;
        font-size: fs(16);
        line-height: fs(26);
        @include mq() {
          font-size: fs(14);
          line-height: fs(18);
        }
      }
    }
  }
}
