// Hack IE 10, 11
@media all and (-ms-high-contrast:none) {
	// .class {
	// }
	.scroll-cnt {
		padding-top: 120px;
		a {
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			margin-left: -20px;
		}
	}
	.information {
		&__txt {
			height: 130px;
		}
	}
	.question__answer {
		display: table;
		span {
			display: table-cell;
		}
	}
	.skills-post__cnt p {
		display: table-cell;
	}
	.trainees-support__img {
		height: 239px;
	}
}


// Hack Firefox
@-moz-document url-prefix() { 
  // .class {
	// }
}